.navc{
    margin: auto;
}
#body{

    width: min-content;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}
button{
    margin: 10px;
    width: 100px;
    height: 100px;
}
#btns{
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
}